<div class="row top-row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="card card-primary checkout-card">
            <div class="card-header">
                <h1 class="card-title">Checkout</h1>
            </div>
            <div class="card-body">
                <h3>Checkout automatically as the logged in user</h3>
                <div class="text-muted">(User typically needs to enter billing and shiping info here)</div>
                <button (click)="checkout()" class="btn btn-primary">Auto-Checkout</button>
            </div>
        </div>
    </div>
</div>
