
/*************************************************
  Main Site and Nav
*************************************************/

.navbar {
    margin-bottom: 20px;
}

.navbar a, .navbar button {
   text-transform: uppercase;    
}

.navbar-nav .navbar-text, .navbar-nav .nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.account-dropdown-menu {
    background: $primary;
    margin-top: -1px;
    border: none;

    .dropdown-header {
        color: darken($primary, 15%);
        padding: 0.5rem;
    }

    .nav-link {
        color: $white;
        padding: 0.5rem;
        width: 100%;
     
        &:hover, &:focus {
            color: $white;
            background-color: darken($primary, 15%);
        }
    }
}

.categories-dropdown {

    .dropdown-menu {
        padding: 0;
        margin: 0;
    
        .nav-item .nav-link {
            color: $gray-900;
            padding: 0.5rem;
            width: 100%;
            
            &:hover {
                color: $gray-900;
                background: $gray-300;
            }
        }
    }
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        .dropdown-menu {
            background: $primary;
        
            .nav-item .nav-link {
                color: $white;
                padding: 0.5rem;
                
                &:hover {
                    color: $white;
                    background: darken($primary, 15%);
                }
            }
        }
    }
}

.search-dropdown {

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        border: none;
        margin-top: -1px;
        padding: 6px;
        min-width: 18rem;
    }
}

.page {    
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        padding-left: 0px;
        padding-right: 0px;
    }

	> .card {
		border: none;
        min-height: 500px;
		
		> .card-header {
			@include clearfix;
			z-index: 1;
            border: none;
			background: $gray-800;
            background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(51,51,51,1) 16%, rgba(51,51,51,1) 50%, rgba(51,51,51,1) 64%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 16%,rgba(51,51,51,1) 50%,rgba(51,51,51,1) 64%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(51,51,51,1) 16%,rgba(51,51,51,1) 50%,rgba(51,51,51,1) 64%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

            height: 45px;

			padding: 0px 15px;

			.store-logo {
				float: left;
				margin: -29px 0 -29px 0;
				
				img {
					width: 100px;
				}
			}
			
			.nav>li>a {
				padding: 10px;
				color: $gray-200;
                font-size: 16px;
                font-weight: 100;
				background: transparent;
				
				&:hover, &:active {
					color: #fff;
					background: transparent;
				}
			}
		}
		
		> .card-body {
			.jumbotron {
                background:url(../images/jumbo.png);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                min-height:200px;
			    margin: -$card-columns-gap;
                margin-bottom: 0px;
                text-align: center;
                
                .btn-lg {
                    margin-top:100px;
                }
                
                @media (min-width: map-get($grid-breakpoints, "md")) {
                    min-height: 380px;
                    
                    .btn-lg {
                        margin-top:180px;
                    }    
                }                
			}
            
            .top-row {
                margin-top: 30px;
            }
		}
		
	}	
}

footer {
    margin-bottom: 25px;

    a {
        margin-right: 12px;
    }
    .social-icon {
        height: 20px; 
        width: 20px;
    }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
    body {
        background-color: #151515;
        background: url('../images/bg.jpg');
    }
    
    .page {
        padding-top: 20px;
    }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    .navbar-light .navbar-nav .show .dropdown-menu .dropdown-header {
        color: $white;
    }
}

/*************************************************
  Shared Components
*************************************************/

.product {
    display: block;
    border: 1px solid $gray-800;
    text-align: center;
    margin-bottom: 15px;
    padding: 1px;
    
    &.featured::before {
        content:"Featured";
        background: $warning;
        padding: 4px 10px;
        color: white;
        position: absolute;
        display: inline-block;
        left: 16px;
    }
    
    .title-container {
        min-height: 72px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 4px;        
    }
    h5 {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        
    }
    
    .price {
        font-size: 24px;
    }
    
    .btn-cart {
        width: 100%;
        padding: 10px 12px;
    }

    .model-number {
        font-size: 10px;
        margin: 4px 0;
    }
    
    .category {
        margin: 0 0 12px 0;
        display: inline-block;
    }
    
    @media (max-width: map-get($grid-breakpoints, "sm")) {
        .price {
            margin-top:12px;
        }
        
        img {
            display: none;
        }
    }
    
    @media (min-width: map-get($grid-breakpoints, "sm")) {   
        h5 {
            font-size: 20px;
        }
        
        .title-container {
            min-height: 86px;
        }
        
        .model-number {
            font-size: 12px;
        }
    }
    
    @media (min-width: 410px) {
       .title-container {
            min-height: 64px;
        }
    }
    
    @media (min-width: 600px) {
       .title-container {
            min-height: 40px;
        }
    }
    
    @media (min-width: 768px) {
       .title-container {
            min-height: 86px;
        }
    }
    
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        .title-container {
            min-height: 64px;
        }
    }
}

.table > thead > tr {
    > td,
    > th {
      color: white;
      background-color: $danger;
    }
  }
  
label, .key-label {
    display:inline-block;
    padding-right: 8px;
    color: $text-muted;
    font-weight: normal;
    text-transform: uppercase;
}

/*************************************************
  Page Specific
*************************************************/
.product-details-container {
    //max-width: 400px;
    .product-images {
        text-align: center;
        
        .key-label {
            display: block;
            margin-top: 12px;
        }
    }
    
    .price-label {
        display:inline-block;
        color: $gray-800;
        font-size: 24px;
        font-weight: 100;
    }    
    .price {
        display:inline-block;
        padding-left: 8px;
        color: $primary;
        font-size: 24px;
        font-weight: normal;
    }
    
    .units {
        color: $warning;
        font-size: 18px;
        margin-top: 12px;
    }
    
    .product-description {
        @include clearfix();
        margin: 12px auto;
    }
    
    .product-details {
        list-style-type: none;
        padding: 0;        
    }
    
    .cart-group {
        @include clearfix();
        border: 1px solid $gray-700;
        padding: 24px;
        max-width: 400px;
        margin: 10px;
        
        label {
            float: left;
            width: 25%;
            color: $gray-800;
            font-weight: 100;
            margin: 0;
            line-height: 32px;
        }
        
        .cart-quantity {
            float: left;
            width: 21%;
            margin: 0 2%;
        }
        
        .btn {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
    }
    
    @media (max-width: map-get($grid-breakpoints, "md")) {
        .product-images img {
            width:200px;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "sm")) {
        .cart-group {
            margin: 12px 0;
        }
    }
}

.product-table {
    min-width: 600px;
    
    .cart-quantity-row {
        input, button {
            display: block;
            margin: 0 0 0 auto;
        }
        
        button {
            padding: 4px 0 0 0;
        }
    }
    
    .cart-quantity {
        width: 40px;
        margin-bottom: 4px;
    }

    .product-cell-detail {
        margin: 6px;
        
        img {
            margin-right: 10px;
        }
    }
}

.checkout-panel {
    .panel-body {
        text-align: center;
    }
    
    .panel-body > * {
        margin: 12px auto;
    }
}

.order-card {
    display: block;
    border: 1px solid $gray-200;
    margin-bottom: 25px;
    
    .order-card-heading {
        background: $gray-100;
        border-bottom: 1px solid $gray-200;
        padding: 12px 20px;
        
        @media (min-width: map-get($grid-breakpoints, "sm")) {
            label {
                display: block;
            }
        }
        
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            .col-sm-4 {
                margin: 12px 0;                
            }
        }
    }
    
    .order-actions {
        padding: 10px;
    }
    
    .order-details {
        padding: 0px 40px 20px 40px;
        
        .product-details {
            margin-left: 80px;
            
            img {
                margin-left: -80px;
            }

            .price {
                margin: 4px 0;
            }
        }
        
        h3 {
            margin-bottom: 20px;
        }
    }
    
    
}
